<a href="https://colab.research.google.com/github/seizetheday/pandas/blob/main/pandas_and_numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

# Data sample

In [2]:
data = {'Country': ['Belgium',  'India',  'Brazil'],
'Capital': ['Brussels',  'New Delhi',  'Brasilia'],
'Population': [100, 100, 200]} 

df = pd.DataFrame(data,columns=['Country',  'Capital',  'Population'])

In [3]:
(df['Population'] == 100).all()

False

In [4]:
df

   Country    Capital  Population
0  Belgium   Brussels         100
1    India  New Delhi         100
2   Brazil   Brasilia         200