<a href="https://colab.research.google.com/github/seizetheday/pandas/blob/main/pandas_and_numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

# Data sample

In [2]:
data = {'Country': ['Belgium',  'India',  'Brazil'],
'Capital': ['Brussels',  'New Delhi',  'Brasilia'],
'Population': [100, 100, 200]} 

df = pd.DataFrame(data,columns=['Country',  'Capital',  'Population'])

In [3]:
(df['Population'] == 100).all()

False

In [7]:
df = pd.read_csv('datas\DFJ_2021.csv')

In [9]:
df

,date,symbol,open,high,low,close,volume,openint,amount
0,2021-01-04,DFJ0,2432.5,2523.0,2423.5,2514.0,244709,207826,7.066078e+10
1,2021-01-05,DFJ0,2512.5,2572.0,2512.5,2567.0,259353,210065,7.678534e+10
2,2021-01-06,DFJ0,2570.5,2605.0,2523.0,2559.5,403313,211331,1.204771e+11
3,2021-01-07,DFJ0,2557.0,2577.5,2530.5,2573.0,266491,202820,7.932230e+10
4,2021-01-08,DFJ0,2571.5,2574.5,2504.0,2508.0,358916,200436,1.061505e+11
...,...,...,...,...,...,...,...,...,...
238,2021-12-27,DFJ0,3160.0,3166.5,2917.0,2935.5,52189,35209,1.580921e+10
239,2021-12-28,DFJ0,2927.0,2948.0,2886.0,2895.0,38140,33650,1.111778e+10
240,2021-12-29,DFJ0,2895.0,2938.0,2874.5,2934.0,30455,31411,8.843391e+09
241,2021-12-30,DFJ0,2934.0,2953.0,2880.0,2911.0,34726,31328,1.012244e+10
242,2021-12-31,DFJ0,2898.5,2945.0,2862.0,2934.0,31426,29932,9.136912e+09